{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block nav_admin_dash %}active{% endblock %}

{% block header %} mb-5{% endblock %}
{% block content %}

<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="createPropertyModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark">Create a Property</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <form id="propertyCreate" method="POST">
                    <input name="property_id" type="hidden" value="">
                    <div class="form-group">
                        <label class="text-dark" for="inputPropertyName">Property Name</label>
                        <input aria-describedby="accountNameHelp" class="form-control" id="inputPropertyName"
                               name="property_name"
                               placeholder="Enter account name" type="text">
                    </div>
                    <div class="form-group">
                        <label class="text-dark" for="inputPropertyValue">Property Value</label>
                        <div class="dollar"><input aria-describedby="accountNameHelp" class="form-control"
                                                   id="inputPropertyValue"
                                                   name="property_value"
                                                   placeholder="Enter account value" type="number"></div>
                    </div>
                    <div class="form-group">
                        <label class="text-dark" for="inputUserID">Property Owner</label>
                        <input class="form-control" id="exampleDataList" list="inputUserID" name="property_owner"
                               placeholder="Type to search...">
                        <datalist id="inputUserID">
                            {% for u in users %}
                            <option value="{{ u.user_id }}">{{ u.user_name }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input class="btn btn-primary" form="propertyCreate" type="submit" value="Create Property">
                <button class="btn btn-secondary text-light" data-bs-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="editPropertyModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark">Edit Property</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <form id="propertyEdit" method="POST">
                    <div class="form-group">
                        <input name="edit_property_id" id="inputEditPropertyID" type="number" class="form-control"
                               readonly value="">
                    </div>
                    <div class="form-group">
                        <label class="text-dark" for="inputEditPropertyName">Property Name</label>
                        <input aria-describedby="accountNameHelp" class="form-control" id="inputEditPropertyName"
                               name="edit_property_name"
                               placeholder="Enter account name" type="text">
                    </div>
                    <div class="form-group">
                        <label class="text-dark" for="inputEditPropertyValue">Property Value</label>
                        <div class="dollar"><input aria-describedby="accountNameHelp" class="form-control"
                                                   id="inputEditPropertyValue"
                                                   name="edit_property_value"
                                                   placeholder="Enter account value" type="number"></div>
                    </div>
                    <div class="form-group">
                        <label class="text-dark" for="inputUserID">Property Owner</label>
                        <input class="form-control" id="exampleEditDataList" list="inputEditUserID"
                               name="edit_property_owner"
                               placeholder="Type to search...">
                        <datalist id="inputEditUserID">
                            {% for u in users %}
                            <option value="{{ u.user_id }}">{{ u.user_name }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input class="btn btn-primary" form="propertyEdit" type="submit" value="Edit Property">
                <button class="btn btn-secondary text-light" data-bs-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<h1 class="text-center">Admin Dashboard</h1>
<div class="container">
    <div class="container">
        <h4>Welcome, Administrator - {{ session['name'] }}</h4>
        <hr>
        <div class="row">
            <div class="col-xs-4">
                <a class="btn btn-primary" href="/admin-dashboard/{{server.guild_id}}">Settings</a>
                <a href="/bank-accounts/{{ server.guild_id }}" class="btn btn-primary">Bank Accounts</a>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="card-body tab-content">
                <div class="tab-pane active" id="profile">
                    <h4>PROPERTIES
                        <button class="btn btn-light float-right" data-bs-target="#createPropertyModal"
                                data-bs-toggle="modal"
                                type="button"><i class="bi bi-plus"></i>
                        </button>
                    </h4>
                    <hr>
                    <table class="table table-striped table-dark">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Property Name</th>
                            <th scope="col">Property Value</th>
                            <th scope="col">Property Owner</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in properties %}
                        <tr>
                            <th scope="row">{{ p.id }}</th>
                            <td>{{ p.property_name }}</td>
                            <td>{{ server.currency }}{{ p.property_value }}</td>
                            <td>{{ p.property_owner.user_name }}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" data-bs-target="#editPropertyModal"
                                           data-bs-toggle="modal" href="#"
                                           onclick="document.getElementById('inputEditPropertyName').value='{{ p.property_name }}';document.getElementById('inputEditPropertyValue').value='{{ p.property_value }}';document.getElementById('exampleEditDataList').value='{{ p.property_owner.user_id }}';document.getElementById('exampleEditDataList').innerHTML='{{ p.property_owner.user_name }}';document.getElementById('inputEditPropertyID').value='{{ p.id }}';">Edit</a>
                                        <a class="dropdown-item"
                                           href="/delete_property?property_id={{ p.id }}">Delete Property</a>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                        {% if properties.count() == 0 %}
                        <tr class="table-danger">
                            <th colspan="5">No Properties Have Been Added</th>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
       .dollar{
            position: relative;
            color: black;
            }
       .dollar input{
            padding-left:15px;
            }
       .dollar:before {
            position: absolute;
            content:"{{ server.currency }}";
            left:5px;
            top:6px;
            }


</style>
{% endblock %}