{% extends "base.html" %}
{% block title %}Choose Guild{% endblock %}

{% block header %} mb-auto {% endblock %}

{% block content %}
<div class="bg-secondary rounded p-3">
    <form onsubmit="location.href=window.location.origin + '/{{ page }}/' + document.getElementById('exampleFormControlSelect1').value; return false;">
        <div class="form-group">
            <label for="exampleFormControlSelect1"><strong>Guild Select</strong></label>
            <br>
            <small>If you don't see the server, logout and back in.</small>
            <select class="form-control" id="exampleFormControlSelect1">
                {% for g in guilds %}
                <option value="{{g[1]}}">{{g[0]}}</option>
                {% endfor %}
                {% if guilds|length == 0 %}
                <option class="text-danger">You're in no servers with EcoPlay Bot in.</option>
                {% endif %}
            </select></div>
        <div class="form-group">

            <button type="submit" class="btn btn-primary mt-2" {% if guilds|length == 0 %}disabled{% endif %}>Confirm Server</button>

        </div>
    </form>
</div>
{% endblock %}