{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block nav_login %}active{% endblock %}

{% block header %} mb-auto {% endblock %}

{% block content %}
<div class="bg-secondary rounded p-3">
    <a href="https://discord.com/api/oauth2/authorize?client_id=767749360586326026&redirect_uri=https%3A%2F%2Fecoplay.xyz%2Fdiscord%2Fauth&response_type=code&scope=identify%20email%20guilds"><button class="btn btn-lg btn-primary btn-block" type="submit">Sign in with <i class="bi bi-discord"></i></button></a>
</div>
{% endblock %}